/*Escondendo barra de scroll não desabilitando-o*/
#MessageInput ::-webkit-scrollbar { /*Chrome*/
  display: none;
}
#MessageInput {
  scrollbar-width: none; /*Firefox*/
}

/*Label do campo não focado .mdc-notched-outline--upgraded*/
#MessageInput:not(.mdc-text-field--focused) label {
  top: 25%;
} 

#MessageInput .mdc-notched-outline--notched label {
  top: 17px;
}

/*Label do campo focado*/
#MessageInput.mdc-text-field--focused label {
  color: var(--mdc-theme-primary, #00695c);
}

.msg-text {
  max-height: 145px;
  margin-bottom: 5px;

  /*wrap*/
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow-y: auto;
}

/* Message scrollbar*/
.msg-text {
  --background-track: rgba(0,0,0,.25);
  --background-thumb: rgba(0,0,0,.5);

  /*Firefox*/
  scrollbar-width: thin;
  scrollbar-color: var(--background-thumb) var(--background-track);
}
.msg-text::-webkit-scrollbar { /*Chrome*/
  width: 7px;
  background-color: var(--background-track);
}
.msg-text::-webkit-scrollbar-thumb { /*Chrome*/
  background-color: var(--background-thumb);
}

#scroll-down {
  position: fixed;
  bottom: 55px;

   /* background */
  background: darkgray;
  mix-blend-mode: multiply;
}

#scroll-down.new-msgs {
  background: greenyellow;
  mix-blend-mode: inherit;
}

@media (min-width: 840px) {
  #scroll-down {
    right: 25px;
  }
}

@media (max-width: 839px) {
  #scroll-down {
    right: 12px;
  }
}
